{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}|Create

{% endblock %}

{% block body %}

    <h1> BUCKET LIST CREATION !</h1>

    {{ form_start(formulaire)}}

    <div class=" formulaire">
        <div> {{  form_label(formulaire.title) }}</div>
        <div> {{form_widget(formulaire.title) }}</div>

        <div> {{ form_label(formulaire.description) }}</div>
        <div> {{ form_widget(formulaire.description) }}</div>

        <div> {{ form_label(formulaire.author) }}</div>
        <div> {{ form_widget(formulaire.author) }}</div>

        <div> {{ form_label(formulaire.note) }}</div>
        <div> {{ form_widget(formulaire.note) }}</div>

        <div> {{ form_label(formulaire.category) }}</div>
        <div> {{ form_widget(formulaire.category) }}</div>
        <div> {{ author }}</div>



    </div>
    <button> SEND </button>

    {{ form_end(formulaire) }}



{% endblock %}

